<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<system.web>
		<sessionState mode="InProc" cookieless="false" timeout="540"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">

		</compilation>
	</system.web>

	<runtime>
	</runtime>
  
  <appSettings>
    <!--<add key="modulo_id" value="1"/>-->
    <!--CONEXIÓN-->
    <!--<add key="servidor" value="1611ELCAPESTORE.mssql.somee.com"/>
    <add key="base" value="1611ELCAPESTORE"/>
    <add key="user" value="caballo_SQLLogin_1"/>
    <add key="pass" value="aepqkahruk"/>-->
	  <!--CONEXIÓN LOCAL-->
	  <add key="servidor" value="."/>
	  <add key="base" value="vozCiudadana"/>
	  <add key="user" value="sa_c.caballo"/>
	  <add key="pass" value="7791"/>
    <!--Variables-->
    <add key="activar_logs" value="true"/>
    <add key="title" value=" Tienda Online "/>
    <!--" San Antonio "," Firma Nativa "-->
    <add key="system_name" value="firma_nativa"/>
    <!--value (firma_nativa o san_antonio) Estética-->
    <add key="main_style" value="main_SA.css"/>
    <!--value (main_FN.css o main_SA.css)-->
  </appSettings>

</configuration>
